body {
    background-color: #161617;
    display: table-cell;
    vertical-align: middle;
} 
.top-menu {
    background-color: #26282B;
    height: 125px;
    width: 100vw;
}

.logo {
    font-family: 'Raleway';
    color: #ffffff;
    font-weight: 100;
    font-size: 60px;
    text-align: left;
    margin: 0%;
}